.botao-p{
  border: 1px solid #cc8833;
  padding: 10px 15px;
  border-radius: 30px;
  background: rgba(238, 170, 102, .26);
  display: flex;
  gap: 15px;
  transition: .3s;
}

.botao-p:hover{
  background: #332200;
  border: 1px solid #221700;
  gap: 20px;
}

.botao-2{
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
  border: 1px solid #332200;
  padding: 10px 15px;
  transition: .3s;
  border-radius: 30px;
}

.botao-2:hover{
  background: #DD9944;
  border: 1px solid #DD9944;
  gap: 20px;
}

.botao-3{
  display: block;
  margin: 0 auto;
  padding: 15px 100px;
  border-radius: 30px;
  border: none;
  background: #CC8833;
  transition: .3s;
}

.botao-3:hover{
  background: #DD9944;
}
 

.titulo-conteudo h2{
  text-align: center;
  margin-bottom: 10px;
}

.titulo-conteudo h2::before{
  content: '';
  width: 75px;
  height: 2px;
  display: block;
  background: #EEAA66;
  margin: 0 auto;
  margin-bottom: 10px;
}

.titulo-conteudo span{
  text-align: center;
}