*{
  margin: 0;
  padding: 0;
}

body{
  height: 2000px;
}

img{
  max-width: 100%;
  display: block;
}

li{
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

span{
  display: block;
}

body{
  background: #F3F2F2;
}